@page

@using NET_GRAM.Models.Interfaces;

@inject IGram PostService

@{
    var post = await PostService.GetPosts();
}

@foreach (var item in post)
{
    <h3>@item.Author</h3>
    @*<p>@item.Title</p>
        <p>@item.Capture</p>*@
    <img src=@item.ImageURL height="155" width="155">

    <a asp-page="/Grams/Index" asp-route-id="@item.ID"> See Details</a>
}

<h3><a asp-page="/Posts/Manage">Add New Post</a></h3>