@page

@using NET_GRAM.Models.Interfaces;

@inject IGram PostService

@{ 
    Layout = "_Layout";
}

@{
    var post = await PostService.GetPosts();
}

@foreach (var item in post)
{
<div class="main-image-post">
    <h3 class="header">@item.Author</h3>
    @*<p>@item.Title</p>
        <p>@item.Capture</p>*@
    <img   class="postImage"  src=@item.ImageURL>
    <div class="button">
        <a asp-page="/Grams/Index" asp-route-id="@item.ID"> If you want more info: Click Me!</a>
    </div>
    
</div>
    
}

<h3><a  asp-page="/Grams/Manage">NEW POST</a></h3>