@page
@model NET_GRAM.Pages.Grams.ManageModel
@{
    ViewData["Title"] = "Manage";
}

<h1>Manage</h1>

<form method="post">

    <label asp-for="Post.Author"></label>
    <input asp-for="Post.Author" />

    <label asp-for="Post.Capture"></label>
    <input asp-for="Post.Capture" />


    <label asp-for="Post.Title"></label>
<textarea rows="5" asp-for="Post.Title"></textarea>


    <button type="submit">SAVE</button>
    <button type="submit" asp-page-handler="Delete">DELETE</button>
</form>