@page "{id?}"
@model NET_GRAM.Pages.Grams.ManageModel
@{
    ViewData["Title"] = "Manage";

    Layout = "_Layout";
}

<h1>Manage</h1>

<form method="post" enctype="multipart/form-data">


    <label asp-for="Post.Author"></label>
    <input asp-for="Post.Author" />

    <label asp-for="Post.ImageURL"></label>
    <input asp-for="Post.ImageURL" />

    <label asp-for="Post.Capture"></label>
    <textarea rows="5" input asp-for="Post.Capture"></textarea>

    <button type="submit">SAVE</button>
    <button type="submit" asp-page-handler="Delete">DELETE</button>
</form>